{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}

{% load static %}
<div class="container">
    <div class="row mx-auto">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" style="color:black;" href="#">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:black;" href="#">공지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:black;" href="#">여행</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " style="color:black;" href="#">건의 사항</a>
                </li>
            </ul>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Number</th>
                  <th scope="col">title</th>
                  <th scope="col">author</th>
                  <th scope="col">date</th>
                </tr>
              </thead>
              <tbody>
                    {% for board in board_list %}
                    <tr>
                    <th scope="row">{{board.id}}</th>
                        <td><a class="nav-link " style="color:black;" href="{% url 'board:board_detail' board_id %}">{{board}}</a></td>
                    <td>{{board.author}}</td>
                    <td>{{board.created.time|date:"d-m-Y"}}</td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
            <a href="{% url 'board:board_create'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">글쓰기</a>
        </div>
    </div>
</div>

<a href="{% url 'extore:extore_detail' group_id %}">extoreindex로 가기</a>

<style>
    div#navbarSupportedContent{z-index:9999;}

    .navbar-nav.extore {
        margin-top: -10px;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    .navbar.navbar-expand-lg{
        height: 40px;
    }
</style>

{% endblock %}