{% extends 'post-base.html' %}
{% block title %}{% endblock %}

{% block extra_style %}
<style>
#board-list {
    display: inline-block;
    text-align:left;
}
</style>
{% endblock %}

{% block content %}
<div id="board-list">
    <form action="" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="group_id" value="{{group.id}}">
        {% csrf_token %}
        {{form.media}}
        <table class="table table-striped">
        {{form.as_table}}
        </table>
        <div style="float:left;">
            <a href="{% url 'board:board_list' %}?extore={{group.id}}" class="btn btn-outline-primary" style="margin-right:10px;">목록</a>
            <input type="submit" class="btn btn-primary" value="수정하기">
        </div>
    </form>
</div>
{% endblock %}