{% extends 'post-base.html' %}
{% block title %}
{% endblock %}

{% block extra_style %}
<style>
    #board-list {
        display: inline-block;
        text-align:left;
    }
    .back-to-page {
        width:100px;
        float:right;
        margin-bottom:20px;
    }
    .board-update:hover {
        text-decoration: none;
    }
    .board-delete:hover {
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<div id="board-list">
    <div>
        <a href="{% url 'board:board_list' %}?extore={{group.id}}" class="btn btn-primary back-to-page">돌아가기</a>
    </div>
   <div class="card" style="width: 40rem;">
       <div id="profiles">
           <div class="img-profile" style="background-image:url({{board.author.profile.url}})"></div>
           <a class="a-tag name-profile" href="#">{{board.author.last_name}}{{board.author.first_name}}</a>
           <p style="float:right; margin-right:10px; color:rgb(185,185,185);">
               {% load calc %}
               {{board.created|time_since}}
           </p>
       </div>
       <hr style="margin:0;">
       <div class="btn btn-light">
           <h6 style="display:inline-block; float:left; color:grey;">{{board.category}}</h6>
           <h7 style="display:inline-block;">{{board.title}}</h7>
       </div>
       <div class="card-body" style="padding:1.25rem 1.25rem 0.5rem 1.25rem;">
           <ul style="list-style-type:none; padding:0px;">
               <li>
                   <div style="padding:5px;">{{board.text|safe}}</div>
               </li>
               <li>
                   {% ifequal board.author user %}
                   <a class="board-delete" href="{% url 'board:board_delete' board.id %}" style="float:right;">삭제</a>
                   <a class="board-update" href="{% url 'board:board_update' board.id %}?extore={{group.id}}" style="float:right;margin-right:10px;">수정</a>
                   <div class="after-click-update"></div>
                   {% endifequal %}
               </li>
           </ul>
           <div style="height:10px; clear:both;"></div>
       </div>
   </div>
   <div class="card" style="width: 40rem; margin-top:-10px;">
      <div>
          <div class="img-profile" style="background-image:url({{user.profile.url}})"></div>
          <div style="float:right; height:70px; line-height:70px;">
              <div style="display:inline-block; vertical-align:middle; line-height:normal;">
                  <form action="{% url 'board:comment_create' board.id %}" method="post" id="comment_form">
                      {% csrf_token %}
                      <input type="hidden" name="is_ajax" value="">
                      <div class="row" style="width:590px; padding-right:10px;">
                          <div id="comment_write" class="col-8" style="padding:0 0 0 5px;">{{comment_form.text}}</div>
                          <div class="col">
                              <input type="submit" value="댓글 입력" class="btn btn-outline-primary form-control">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div id="comment_list">
        {% include 'board/comment_list.html' %}
      </div>
   </div>

</div>


<style>
    div#navbarSupportedContent{z-index:9999;}

    .navbar-nav.extore {
        margin-top: -10px;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    .navbar.navbar-expand-lg{
        height: 40px;
    }
</style>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(function () {
    $("#comment_form").submit(function(e){
        e.preventDefault();
        $('input[name="is_ajax"]').val("1");
        url = $(this).attr('action');
        params = $(this).serialize(); // 현재 값들을 하나로 모은다.
        $.ajax({
            url: url,
            method: "POST",
            data: params,
        }).done(function(data){
            location.reload();
        });
    });

    $(".btn-comment-like").click(function(e){
        e.preventDefault();
        selected_object = $(e.currentTarget);
        url = selected_object.attr('href')
        console.log(url);
        $.ajax({
            url:url,
            method:"POST",
            data:{
                'csrfmiddlewaretoken':'{{csrf_token}}',
                'is_ajax':true,
            },
        }).done(function(data){
            if(data.works){
                str_comment_like = selected_object.html().trim();
                if(str_comment_like.match(/[0-9]+/g)==null){
                    selected_object.html("&emsp;좋아요 1개")
                }
                else{
                    int_comment_like = str_comment_like.match(/[0-9]+/g);
                    comment_like = parseInt(int_comment_like[0]) + 1;
                    selected_object.html("&emsp;좋아요 "+comment_like+"개")
                }
            }
        });
    });

    $(".btn-comment-delete").click(function(e){
        e.preventDefault();
        var input = confirm('댓글을 삭제하시겠습니까?');
        if (input==true){
            selected_object = $(e.currentTarget);
            url = selected_object.attr('href')+"?is_ajax=1";
            console.log(url);
            $.ajax({
                url: url,

            }).done(function(data){
                if (data.works){
                    selected_object.parents('.comment-single').remove();
                }
            });
        }
    });

    $('.btn-comment-update').click(function(e) {
        e.preventDefault();
        selected_object = $(e.currentTarget);
        url = selected_object.attr('href')+'?is_ajax=1';
        comment = selected_object.siblings('p').children('.comment-text');
        input = "<input type='text' class='update-text' value='"+comment.text()+"'>";
        comment.html(input);
        $('.update-text').keypress(function(e){
            if (e.keyCode==13) {
                text = $(this).val();
                $.ajax({
                    url:url,
                    data:{
                        text:text
                    }
                }).done(function(data) {
                    if(data.works) {
                        comment.text(text);
                    }
                });
            }
        });
    });
    $('.board-delete').click(function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var check = confirm('해당 게시물을 삭제하시겠습니까?');
        if(check==true) {
            $.ajax({
                url : url,
            }).done(function(data){
                if(data.works){
                    alert('해당 게시물이 삭제되었습니다.');
                    window.location.href = "{% url 'board:board_list' %}?extore={{group.id}}"
                } else if(data.noAuthor){
                    alert('삭제할 권한이 없습니다.');
                } else {
                    alert('정상 요청이 아닙니다.');
                }
            });
        }
    });

});

</script>
{% endblock %}