{% extends 'post-base.html' %}
{% block title %}
{% endblock %}

{% block content %}

{% load static %}
<div class="container">
    <div class="row mx-auto">
        <div class="col">

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Number</th>
                  <th scope="col">title</th>
                  <th scope="col">author</th>
                  <th scope="col">date</th>
                </tr>
              </thead>
              <tbody>
                    {% load calc %}
                    {% for board in board_list %}
                    <tr>
                        <th scope="row"><a class="nav-link " style="color:black;" href="{% url 'board:board_detail' board.id %}?extore={{group.id}}">{{num_in_turn|list_index:forloop.counter0}}</a></th>
                        <td><a class="nav-link " style="color:black;" href="{% url 'board:board_detail' board.id %}?extore={{group.id}}">{{board.title}}</a></td>
                        <td><a class="nav-link " style="color:black;" href="{% url 'board:board_detail' board.id %}?extore={{group.id}}">{{board.author.last_name}}{{board.author.first_name}}</a></td>
                        <td><a class="nav-link " style="color:black;" href="{% url 'board:board_detail' board.id %}?extore={{group.id}}">{{board.created|date:"Y-m-d D"}}</a></td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
            <a href="{% url 'board:board_create'%}?extore={{group.id}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">글쓰기</a>
        </div>
    </div>
</div>


{% endblock %}