<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Extore{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/main_icon.jpg' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    {% block extra_style %}
    {% endblock %}
</head>
<body>
{% load static %}
<!-- Image and text -->
<div class="main_logo">
<nav class="navbar navbar-light bg-transparent navbar-center">
    <div class="main_center">
        <a class="navbar-brand" href="{% url 'extore:extore_list' %}">
            <img src="{% static 'images/main_icon.jpg' %}" width="70" height="70" class="d-inline-block align-top" alt="">
            EXTORE
        </a>
    </div>
</nav>
</div>

{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    .main_logo .navbar{
        height: 160px;
        margin-top: -50px;

    }
    .main_center a{
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        font-size: 50px;

    }
    .navbar-brand {
        font-family: 'Courier';

    }

</style>
{% block extra_script %}
{% endblock %}


</body>
</html>