<div style="padding:20px; height:68px; line-height:68px;">
    <table class="table">
        <tbody>
            <tr class="searched-user">
                <td>
                    <div class="searched-user-img" style="background-image:url({{user.profile.url}})"></div>
                </td>
                <td style="font-size:15px;">{{user.last_name}}{{user.first_name}}</td>
                <td style="font-size:15px;">{{user.username}}</td>
                <td style="font-size:15px;">0{{user.phonenumber}}</td>
            </tr>
        </tbody>
    </table>
</div>